/*th#tabmodes {*/
th {
/*font-size:42px;
margin:20px auto;
padding:150px 0;
*/
width: 2em;
background-color: red;
font-weight:bold;
-webkit-transform: rotate(-90deg); /* Saf3.1+, Chrome */
-moz-transform: rotate(-90deg); /* FF3.5+ */
-o-transform: rotate(-90deg); /* Opera */
transform: rotate(-90deg);
} 
